@import "variables";

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  color: $default-black;
}

img {
  width: 100%;
  height: auto;
}

span {
  width: 24px;
  color: $default-black;
}